* {box-sizing: border-box;}

hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
} 
header {
  width: 100%;
  display: flex;
  flex-direction: row;   
}

#delicious {
  width: 50%;
}
#navigation {

    width: 50%;
    text-align: right;
}

#logo {
    float: left;    
}

header {
    
}
