* {
    box-sizing: border-box;
    max-width: 925px;
}

hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 5px;
} 
header {
  width: 100%;
  display: flex;
  flex-direction: row;   
}
h1 {
    margin-bottom: 1px;
    margin-top: 50px;
}
h6 {
    margin-top: 1px;
}

#bio {
  width: 100%;
  display: flex;
  flex-direction: row; 

}
#bioInfo {
    font-size: 14px;
    margin-top: 1px;
}
#bioPic 
    float: left;
    height: 50px;
    margin-right: 10px;    
}
#vanessa {
    margin-top: 1px;
    margin-bottom: 6px;
    display: flex;
    flex-direction: row;
    width: 50%
}

#print {
    float: right;
}

#delicious {
    display: flex;
    flex-direction: row;
    width: 50%
    
}
#navigation {

    width: 50%;
    text-align: right;
}


#logo {
    float: left;
    height: 40px;
    margin-right: 10px;    
}

#del {
    margin-top: 1px;
    margin-bottom: 1px;
}
#description {
    margin-top: 1px;
}

#title {
    margin: 1px;
    
}

.instructions {
    text-indent: 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#ingredients {
    background-image: url('./assets/list-bg.png');
    display: flex;
    flex-direction: row;
    ;

}
#column2 {
    float: right;
    margin-left: 250px;
}

hr.styleHr {
    margin-top: 2em;
    padding: 0;
    border: none;
    border-top: medium double #333;
    color: #333;
    text-align: center;
  }
  hr.styleHr:after {
    content: url('assets/small-logo.png');
    display: inline-block;
    position: relative;
    top: -0.7em;
    font-size: 1.5em;
    padding: 0 0.25em;
    background: white;
  }
footer {
    text-align: center;
}
#button {
    float: right;
    margin-left: 220px;
}

.gray {
    color: gray;
}

button {
    background-color: rgb(158, 47, 3);
    color: white;
    width
    font-size: 14px;

    
    
}

