* {box-sizing: border-box;}

hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
} 
header {
  width: 100%;
  display: flex;
  flex-direction: row;   
}

#delicious {
    display: flex;
    flex-direction: row;
    width: 50%
    
}
#navigation {

    width: 50%;
    text-align: right;
}

#logo {
    float: left;
    height: 40px;
    margin-right: 10px;
    vertical-align: m;    
}

header {
    
}
#del {
    margin-top: 1px;
    margin-bottom: 1px;
}
#description {
    margin-top: 1px;
}

#title {
    margin: 1px;
    
}
